* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
}

header {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

main {
  background-color: #f4f4f4;
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #333;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#form {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#form input {
  padding: 8px;
}

#form button {
  background-color: #0074d9;
  border: none;
  padding: 8px;
  color: white;
  cursor: pointer;
}

#form button:hover {
  transition: ease-in-out 0.1s;
  background-color: #1793ff;
}

#task-list {
  display: flex;
  flex-direction: column;
  list-style: decimal;
  margin-left: 2rem;
}

#task-list li {
  text-align: left;
}
